node_modules/
Hardhat/node_modules/
Hardhat/cache/
Hardhat/artifacts/
package-lock.json

Backend/.env
*.key
Backend/venv/
Backend/__pycache__/
Backend/**/__pycache__/
*.pyc
Backend/*.db
Backend/*.sqlite
Backend/migrations/__pycache__/
Backend/migrations/versions/__pycache__/

Frontend/.env